footer {
  background-color: #003366;
  padding: 5px 0;
  display: flex;          /* vízszintes elrendezés */
  flex-direction: row;    /* biztos, ami biztos */
  gap: 10px;              /* távolság a linkek között */
  justify-content: center;
  align-items: center;
  width: 100%;           /* teljes szélesség */
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 12px;
}

footer a {
  display: block;          /* <<< KÜLÖN SORBA TESZI A LINKEKET */
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin: 10px 0;          /* <<< TÁVOLSÁG A LINKEK KÖZÖTT */
  line-height: 1.0     /* <<< SORKÖZ */
}

footer a:hover {
  color: #66aaff;
}