* {
  /* border: 1px solid black; */
  box-sizing: border-box;
}

.navbar-kontener {
  align-items: center;
  position: fixed;       /* rögzített pozíció */
  top: 1rem;             /* távolság a tetejétől */
  left: 1rem;            /* bal szélhez igazítva */
  display: flex;
  flex-wrap: wrap;       /* törés, ha szűk a képernyő */
  gap: 0.5rem;           /* kis távolság a linkek között */
  background-color: rgba(37, 99, 235, 0.9); /* kék, kis áttetszőség */
  padding: 0.5rem 1rem;
  border-radius: 10px;
  z-index: 1000;         /* minden fölött legyen */
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.navbar-kontener a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  transition: background 0.2s, color 0.2s;
}

.navbar-kontener button {
  background-color: rgba(56, 112, 235, 1.0);
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  transition: background 0.2s, color 0.2s;
}

.navbar-kontener a:hover, .navbar-kontener button:hover {
  background-color: #1d4ed8;
  color: #dbeafe;
  cursor: pointer;
}

@media screen and (max-width: 1250px) { 
  .navbar-kontener {
    grid-template-columns: repeat(4, 1fr);
  }
}


/* Mobil nézet */
@media screen and (max-width: 600px) {
  .navbar-kontener {
    display: flex;
    flex-direction: row;
    margin: auto;
    flex-wrap: nowrap;
    /* width: 100%; */
    /* flex-direction: column; linkek függőlegesen */
    /* align-items: flex-start; balra igazítva */
  }

  .bal-elemek {
    display: flex;
    flex-direction: column;
  }

  .jobb-elemek {
    display: flex;
    flex-direction: column;
  }

  .navbar-kontener a {
    width: 100%;
    text-align: left; /* balra igazítva a szöveg */
  }
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: auto; /* EZ tolja ki jobbra */
  flex-shrink: 0;   /* EZ FONTOS */
}

.cart-icon {
  color: white;
  font-size: 22px;
  cursor: pointer;
}

.cart-icon:hover {
  color: #ffd500;
}

