<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link
            rel="stylesheet"
            href="/css/main.css"
        />
        <title>Menetrend szerver oldala</title>
    </head>
    <body>
        <%- include('nav.ejs') %>
        <div id="main-kontener">
            <h1>Menetrend szerver oldala</h1>
        </div>
    </body>
</html>
