<!DOCTYPE html>
<html lang="hu">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/schedules/css/new-schedule.css" />
        <title>Új menetrend felvétele</title>
    </head>
    <body>
        <%- include('nav.ejs') %>
        <div id="uj-menetrend-kontener">
            <h1>Új menetrend felvétele</h1>
            <form>
                <table>
                    <tr>
                        <td>Tipus:</td>
                        <td><input type="text" id="tipus" /></td>
                    </tr>
                    <tr>
                        <td>Indulóállomás:</td>
                        <td><input type="text" id="induloallomas" /></td>
                    </tr>
                    <tr>
                        <td>Célállomás:</td>
                        <td><input type="text-area" id="celallomas" /></td>
                    </tr>
                    <tr>
                        <td>Időpontok:</td>
                        <td><textarea id="idopontok" cols="20" rows="6"></textarea></td> 
                    </tr>
                    <tr>
                        <td>Érintő állomás:</td>
                        <td><textarea id="erintoallomas" cols="20" rows=""></textarea></td>
                    </tr>
                    <tr>
                        <td>Életkor:</td>
                         <td><input type="text" id="kortabla" /></td>
                    </tr>
                    <tr>
                        <td>Kedvezmény:</td>
                        <td></td>
                        <!-- Legördülő lista legyen -->
                    </tr>
                    <tr>
                    <td>Klíma</td>
                    <td>
                        <label for="klima_igen">Van</label>
                        <input type="radio" id="klima_igen" name="klima" value="true" checked>

                        <label for="klima_nem">Nincs</label>
                        <input type="radio" id="klima_nem" name="klima" value="false">
                    </td>
                    </tr>
                    <tr>
                    <td>Helyjegy</td>
                    <td>
                        
                        <label for="helyjegy_igen">Van</label>
                        <input type="radio" id="helyjegy_igen" name="helyjegy" value="true" checked>

                        <label for="helyjegy_nem">Nincs</label>
                        <input type="radio" id="helyjegy_nem" name="helyjegy" value="false">
                        
                    </td>
                    <!-- </tr>
                        <td>Ár:</td>
                        <td><input type="number" id="ar" /></td>
                    </tr>
                    <tr>
                        <td>Leírás:</td>
                        <td><textarea id="leiras"></textarea></td>
                    </tr> -->
                    <tr>
                        <td>Kép 1:</td>
                        <td><input type="text" id="kep1" /></td>
                    </tr>
                    <tr>
                        <td>Kép 2:</td>
                        <td><input type="text" id="kep2" /></td>
                    </tr>
                    <tr>
                        <td>Kép 3:</td>
                        <td><input type="text" id="kep3" /></td>
                    </tr>
                    <tr>
                        <td><button onclick="feltoltes(event)">Feltöltés</button></td>
                        <td></td>
                    </tr>
                </table>
            </form>
        </div>
        <script src="/js/menetrendek.mjs"></script>
    </body>
</html> 
<!-- maga az űrlap -->