<!DOCTYPE html>
<html lang="hu">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/css/purchases.css" />
		<title>Vásárlások</title>
	</head>
	<body>
		<%- include('../nav.ejs') %>
		<div id="purchases-kontener">
			<h1>Vásárlások</h1>
			<div id="purchases">
				<% vasarlasok.forEach(elem => { %>
					<div class="purchase-tarto">
						<p><b>Vásárló e-mail:</b> <%= elem.vasarlo.email %></p>
						<p><b>Vásárlás időpontja:</b> <%= elem.idopont.toString().split('GMT')[0] %></p>
						<h4>Könyvek:</h4>
						<div class="purchase-konyvek">
							<% elem.konyvek.forEach(item => { %>
								<%- include('./konyv.ejs', { item }) %>
							<% }) %>
						</div>
					</div>
				<% }) %>
			</div>
		</div>
	</body>
</html>