@import url('./alap.css');
@import url('./nav.css');

#schedule-kontener {
    margin: auto;
    width: 80%;
}

.konyv {
    border: 1px solid #999;
    padding: 0.5em;
}

#schedule-kontener td {
    padding: 0.5em;
}

#scheule-kontener input {
    font-size: larger;
    width: 400px;
}

#schedule-kontener button {
    color: whitesmoke;
    background-color: green;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
    padding: 1em;
}
