@import url('./alap.css');
@import url('./nav.css');

#schedules-kontener {
    margin: auto;
    width: 80%;
}

#schedules-kontener a {
    color: var(--kek);
}

#menetrendek {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 1em;
    margin-top: 1em;
}

.menetrend {
    border: 1px solid #999;
    padding: 0.5em;
}

.menetrend td {
    border: 1px solid var(--sotetszurke);
    padding: 0.5em;
}

.menetrend img {
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.menetrend button {
    color: whitesmoke;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
    font-size: 1em;
    padding: 1em;
}

.modosit {
    background-color: green;
    color: whitesmoke !important;
    font-size: 1em;
    padding: 1em;
    text-decoration: none;
}

.torol {
    background-color: red;
}
