<tr>
	<td>Kedvezmény:</td>
	<td>
		<select id="kedvezmeny">
			<% for( let i = 0; i < kedvezmenyek.length; i++) { %>
				<option value="<%= kedvezmenyek[i] %>">
					<%= kedvezmenyek[i] %>
				</option>
			<% } %>
		</select>
	</td>
</tr>
