<tr>
	<td>Zsáner:</td>
	<td>
		<select id="zsaner">
			<% for( let i = 0; i < zsanerek.length; i++ ) { %>
				<option value="<%= zsanerek[i] %>">
					<%= zsanerek[i] %>
				</option>
			<% } %>
		</select>
	</td>
</tr>
