<tr>
	<td>Kedvezmény:</td>
	<td>
		<select id="kedvezmeny">
			<% for( let i = 0; i < kedvezmenyek.length; i++) { %>
				<% if (kedvezmeny === kedvezmenyek[i]) { %>
					<option value="<%= kedvezmenyek[i] %>" selected>
						<%= kedvezmenyek[i] %>
					</option>
				<% } else { %>
					<option value="<%= kedvezmenyek[i] %>">
						<%= kedvezmenyek[i] %>
					</option>
				<% } %>
			<% } %>
		</select>
	</td>
</tr>
